body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #24c5c59f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h1, .footer {
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(28, 206, 206);
}

button {
    display: block;
    width: 100%;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #4e4b4ba4;
}

#post-container {
    margin-top: 30px;
}

.post,
button {
    border-radius: 25px;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 1s ease-out;
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    60% {
        transform: translateY(25px);
        opacity: 1;
    }

    75% {
        transform: translateY(-10px);
    }

    90% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce-in-down {
    animation: bounceInDown 1s ease-out;
}